<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>index page</h2>
        <button type="button" onclick="location.href='/list' ">게시글 보기</button>
        <button type="button" onclick="location.href='/write' ">글쓰기</button>
    </body>
</html>

